:root {
  --font-color: darkblue;
}

a {
  padding: 1em;
}

body {
  font-family: "Open Sans";
  color: var(--font-color);
  margin: 10px 50px 10px 50px;
  background-color: Ivory;
}

h1,h2 {
  font-family: Oswald;
  color: var(--font-color);
}

img {
  float: left;
  margin: 3px;
}